pipeline/pl_extract_wd_processing_time_data_copy1.json
{
	"name": "pl_extract_wd_processing_time_data_copy1",
	"properties": {
		"activities": [
			{
				"name": "Copy data main",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_http_json_wd",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_base_url": {
								"value": "@concat(activity('Lookup config').output.value[0].base_url,'?',activity('Lookup config').output.value[2].timestamp_filter,'=',subtractFromTime(convertFromUtc(utcnow(), 'Mountain Standard Time', 'yyyy-MM-dd'), 1, 'Month'),'&format=json')",
								"type": "Expression"
							},
							"p_ds_user_name": {
								"value": "@activity('Lookup config').output.value[1].user_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_json_wd",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'),'/data')",
								"type": "Expression"
							},
							"p_ds_file_name": {
								"value": "@concat(variables('v_object'),'_',convertFromUtc(utcnow(), 'Mountain Standard Time', 'yyyyMMddHHmmss'),'.json')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable v_object",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_json_wd",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'), '/logic')",
								"type": "Expression"
							},
							"p_ds_file_name": "param_config.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable v_object",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_object",
					"value": "processing_time"
				}
			}
		],
		"variables": {
			"v_object": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BKP Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-04T09:52:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}