pipeline/pl_extract_talend_integration_jobs_data.json
{
	"name": "pl_extract_talend_integration_jobs_data",
	"properties": {
		"activities": [
			{
				"name": "Lookup config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable v_object",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_json_talend",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_direcotry": {
								"value": "@concat(variables('v_object'), '/logic')",
								"type": "Expression"
							},
							"p_ds_file_name": "param_config.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup last_extract_time",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable v_object",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_dt_talend",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'), '/logic')",
								"type": "Expression"
							},
							"p_ds_file_name": "param_last_extract_time.txt"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable v_object",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_object",
					"value": "integration_jobs"
				}
			},
			{
				"name": "Copy data tasks",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Azure Function set_bearer_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_http_json_talend",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_base_url": {
								"value": "@concat(activity('Lookup config').output.value[0].base_url_tasks,'?',activity('Lookup config').output.value[4].environment_filter,'=',activity('Lookup config').output.value[3].environmentId)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_json_talend",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_direcotry": "tasks/data",
							"p_ds_file_name": "tasks.json"
						}
					}
				]
			},
			{
				"name": "Copy data executions",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data tasks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_http_json_talend",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_base_url": {
								"value": "@concat(activity('Lookup config').output.value[1].base_url_exeutions,'?',activity('Lookup config').output.value[4].environment_filter,'=',activity('Lookup config').output.value[3].environmentId,'&',activity('Lookup config').output.value[5].timestamp_filter,'=',string(add(div(sub(ticks(activity('Lookup last_extract_time').output.firstRow.last_extract_time),ticks('1990-01-01 00:00:00.000')),10000),631152000000)))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_json_talend",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_direcotry": "executions/data",
							"p_ds_file_name": {
								"value": "@concat('executions_',convertFromUtc(pipeline().TriggerTime,'Eastern Standard Time', 'yyyyMMddHHmmss'),'.json')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy data last_extract_time",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data executions",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy data timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "last_extract_time",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "last_extract_time"
								},
								"sink": {
									"name": "last_extract_time",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_dt_talend",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'),'/logic')",
								"type": "Expression"
							},
							"p_ds_file_name": "dummy.txt"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_dt_talend",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'),'/logic')",
								"type": "Expression"
							},
							"p_ds_file_name": "param_last_extract_time.txt"
						}
					}
				]
			},
			{
				"name": "Copy data timestamp",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data tasks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "timestamp",
								"value": {
									"value": "@convertFromUtc(utcNow(),'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "timestamp",
									"type": "String"
								},
								"sink": {
									"path": "$['timestamp']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_dt_talend",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'),'/logic')",
								"type": "Expression"
							},
							"p_ds_file_name": "dummy.txt"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_json_talend",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_direcotry": {
								"value": "@concat(variables('v_object'),'/data')",
								"type": "Expression"
							},
							"p_ds_file_name": "timestamp.json"
						}
					}
				]
			},
			{
				"name": "Azure Function set_bearer_token",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Lookup last_extract_time",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "talend_bearer_token",
					"method": "GET",
					"body": ""
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-talend-bearer-token"
					}
				}
			},
			{
				"name": "Azure Function on_success",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Copy data last_extract_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',pipeline().Pipeline,'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Success\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			},
			{
				"name": "Azure Function on_failure1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set variable v_object",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',pipeline().Pipeline,'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Failure\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			},
			{
				"name": "Azure Function transform_n_load",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Azure Function on_success",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "talend_integration_jobs",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-talend-integration-jobs"
					}
				}
			},
			{
				"name": "Azure Function on_failure_in_transformation",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Azure Function transform_n_load",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',replace(pipeline().Pipeline, 'extract', 'transform'),'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Failure\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			},
			{
				"name": "Azure Function on_failure3",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Lookup last_extract_time",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',pipeline().Pipeline,'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Failure\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			},
			{
				"name": "Azure Function on_failure2",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Lookup config",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',pipeline().Pipeline,'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Failure\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			},
			{
				"name": "Azure Function on_failure4",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Azure Function set_bearer_token",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',pipeline().Pipeline,'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Failure\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			},
			{
				"name": "Azure Function on_failure5",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Copy data tasks",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',pipeline().Pipeline,'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Failure\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			},
			{
				"name": "Azure Function on_failure7",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Copy data timestamp",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',pipeline().Pipeline,'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Failure\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			},
			{
				"name": "Azure Function on_failure6",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Copy data executions",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',pipeline().Pipeline,'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Failure\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			},
			{
				"name": "Azure Function on_failure9",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Azure Function on_success",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',pipeline().Pipeline,'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Failure\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			},
			{
				"name": "Azure Function on_failure8",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Copy data last_extract_time",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "data_pipeline",
					"method": "POST",
					"body": {
						"value": "@concat('{\"pipe_line_name\":\"',pipeline().Pipeline,'\",\"container\":\"',substring(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), 0, indexof(substring(pipeline().Pipeline, 11, add(indexof(pipeline().Pipeline, '_data'),-11)), '_')),'\",\"directory\":\"',variables('v_object'),'/pipeline\",\"status\":\"Failure\",\"job_start_time\":\"', convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time', 'yyyy-MM-dd HH:mm:ss.fff'), '\"}')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_azure_function",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_ls_function_key": "FnKey-data-pipeline"
					}
				}
			}
		],
		"variables": {
			"v_object": {
				"type": "String"
			},
			"v_test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "App_Talend"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-05T11:25:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}