pipeline/pl_extract_wd_integration_events_data_copy1.json
{
	"name": "pl_extract_wd_integration_events_data_copy1",
	"properties": {
		"activities": [
			{
				"name": "Copy data main",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup config",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup last_extract_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_http_json_wd",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_base_url": {
								"value": "@concat(activity('Lookup config').output.value[0].base_url,'?',activity('Lookup config').output.value[2].from_timestamp_filter,'=',activity('Lookup last_extract_time').output.firstRow.last_extract_time,'&',activity('Lookup config').output.value[3].to_timestamp_filter,'=',convertFromUtc(pipeline().TriggerTime,'Mountain Standard Time'),'&format=json')",
								"type": "Expression"
							},
							"p_ds_user_name": {
								"value": "@activity('Lookup config').output.value[1].user_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_json_wd",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'),'/data')",
								"type": "Expression"
							},
							"p_ds_file_name": {
								"value": "@concat(variables('v_object'),'_',convertFromUtc(utcnow(), 'Mountain Standard Time', 'yyyyMMddHHmmss'),'.json')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup config",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable v_object",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_json_wd",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'), '/logic')",
								"type": "Expression"
							},
							"p_ds_file_name": "param_config.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup last_extract_time",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable v_object",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_dt_wd",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'), '/logic')",
								"type": "Expression"
							},
							"p_ds_file_name": "param_last_extract_time.txt"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data last_extract_time",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data main",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "last_extract_time",
								"value": {
									"value": "@convertFromUtc(pipeline().TriggerTime, 'Mountain Standard Time')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "last_extract_time",
									"type": "String"
								},
								"sink": {
									"name": "last_extract_time",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_dt_wd",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'),'/logic')",
								"type": "Expression"
							},
							"p_ds_file_name": "dummy.txt"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_dt_wd",
						"type": "DatasetReference",
						"parameters": {
							"p_ds_directory": {
								"value": "@concat(variables('v_object'),'/logic')",
								"type": "Expression"
							},
							"p_ds_file_name": "param_last_extract_time.txt"
						}
					}
				]
			},
			{
				"name": "Set variable v_object",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_object",
					"value": "integration_events"
				}
			}
		],
		"variables": {
			"v_object": {
				"type": "String",
				"defaultValue": "procesing_time"
			}
		},
		"folder": {
			"name": "BKP Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-04T09:52:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}